.card{
    background-color: #eee;
    width: 500px;
    margin: auto;
    padding: 30px;
}

li{
    background-color: #cceaff;
    border: 1px solid #5ca8ef;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

ol{
    font-weight: bold;
    list-style: upper-alpha;
    padding: 30px;
}

.a{
    cursor: crosshair;
}

.b{
    cursor: pointer;
}

.c{
    cursor: help;
}