@media screen and (min-width: 636px) {

}

@media screen and (min-width: 980px) {

    header {
        justify-content: space-around;
        padding: 0;
    }

    .sections {
        display: flex;
    }
    .content {
        flex-direction: row;
        margin: 10.2rem 0 10.2rem 0;
    }
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .texts {
        max-width: 35rem;
        margin: 0;
    }
    .footer-content{
        flex-direction: row;
        padding: 0;
        gap: 10rem;
    }
    .footer-intro, .footer-infos {
        max-width: 35rem;
        padding: 1rem;
    }
    .locations-title, .contacts-title, .services-title {
        font-size: .8rem;
    }
    .locations-desc, .contacts-content, .services-desc {
        font-size: .9rem;
    }
}

@media screen and (min-width: 1490px) {


}
