    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Poppins, sans-serif;
        background: linear-gradient(to right, #233d7d 0%, #2B6DC7 65%, #0e86c5);
    }

    header {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
        padding: 0 1rem 0 1rem; 
        background-color: rgba(15,12,41,1);
    }

    .header-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-icon:hover {
        transition: all 0.4s ease; 
        opacity: 0.8;
    }

    .header-icon img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
    }

    .sections {
        display: none;
    }

    .header-sections {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        font-weight: bold;
        font-size: 1.2rem;
        list-style: none;
    }

    /* .header-sections li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0e86c5;
        width: 8rem;
        height: 3rem;
        border-radius: 1rem;
    } */

    .header-sections a {
        color: white;
        text-align: center;
        text-decoration: none;
        transition: all 0.2s ease; 
    }

    .header-sections a:hover{
        color: #0e86c5;
    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .face-icon:hover, .insta-icon:hover, .whats-icon:hover{
        transition: all 0.4s ease; 
        opacity: 0.6;
    }


    .icons img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 6rem 0 6rem 0;
    }

    .beginning {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10rem;
    }

    .banner {
        display: none;
        max-width: 35rem;
    }

    .banner img {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 35rem;
        max-width: 35rem;
        border-radius: 2rem;
    }

    .texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        max-width: 25rem;
        margin: 0 1rem 0 1rem;
        gap: 2rem;
    }

    .title h1 {
        display: flex;
        justify-content: center;
        font-family: "PT Serif", serif;
        font-weight: bold;
        font-size: 3rem;
        text-wrap: balance;
        line-height: 3.2rem;
        color: rgb(223, 191, 111);
    }

    .description p {
        display: flex;
        justify-content: center;
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-wrap: balance;
        color: white;
        text-shadow: 0.625rem 1rem .75rem rgba(0, 0, 0, 0.2);
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(15,12,41,1);
        color: white;
        padding: 5rem 0 5rem 0;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        gap: 2rem;
    }

    .footer-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 25rem;
    }

    .intro-icon, .intro-icon img{
        height: 6rem;
        width: 8rem;
    }

    .intro-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .intro-title, .intro-desc {
        padding: 0 .5rem 0 .5rem;
    }

    .intro-title {
        color: #0e86c5;
        font-size: .8rem
    }

    .intro-desc {
        font-size: .9rem;
    }

    .footer-infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 25rem;
        gap: 1.5rem;
    }

    .locations-title, .contacts-title, .services-title {
        color: #0e86c5;
        font-size: .8rem;
    }

    .locations-desc, .contacts-content, .services-desc {
        font-size: .7rem;
    }

    .footer-locations p, .footer-contacts p, .footer-services p {
        display: flex;
        align-items: center;
        gap: .2rem;
    }

    .footer-locations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 35rem;
        gap: .2rem;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .2rem;
    }

    .contacts-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .contacts-emails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .4rem;
    }

    .footer-contacts img {
        width: 1.5rem;
    }

    .footer-contacts a {
        transition: all 0.2s ease; 
        color: white;
        text-decoration: none;
    }

    .footer-contacts a:hover {
        color: #0e86c5;
        text-decoration: underline;
    }

    .footer-services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .2rem;
    }

