body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.botton{
    width: 500px;
    height: 60px;
    background-color: rgba(29, 9, 100, 0.164);
    padding: 5px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    position: relative;
    
}

.botton:hover{
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

.icon{
    float: left;
    position: absolute;
    top: 50%;
    margin-left: 15px;
    transform: translateY(-50%);
}

.p{
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}