* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-image: url(../images/pexels-lulizler-3165335.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    backdrop-filter: blur(.3rem);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content{
    background: linear-gradient(135deg, rgba(15,12,41,1) 0%, rgb(55, 3, 114) 50%, rgba(15,12,41,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 1rem;
}

.content h1{
    color: white;
}

.cadaster{
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: .3rem;
}

.cadaster-main{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.cadaster-senha, .cadaster-email, .cadaster-submit{
    display: flex;
    color: rgb(0, 204, 255);
    align-items: left;
    flex-direction: column;
    font-weight: bold;
    border: none;
    gap: .3rem;
}

.input-cadaster-email, .input-cadaster-password, .input-cadaster-submit{
    background-color: rgba(15,12,41,.6);
    height: 2rem;
    color: white;
    font-weight: bold;
    padding: .5rem;
    border-radius: .3rem;   
    border: none;
}

.input-cadaster-email:hover, .input-cadaster-password:hover{
    background: linear-gradient(135deg, rgba(15,12,41,1) 0%, rgb(55, 3, 114) 50%, rgba(15,12,41,1) 100%);
    border: none;
}

.input-cadaster-email:focus-visible, .input-cadaster-password:focus-visible {
    outline: none;
}

.login-desc{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(0, 204, 255);
    gap: .2rem;
}

.login-content a{
    text-decoration: none;
    color: white;
}

.input-cadaster-submit{
    height: 3rem;
    color: white;
    font-weight: bold;
}

.input-cadaster-submit:hover{
    background: linear-gradient(135deg, rgba(15,12,41,1) 0%, rgb(55, 3, 114) 50%, rgba(15,12,41,1) 100%);
    cursor: pointer;
}

::-webkit-input-placeholder { 
    color: white;
    font-weight: bold;
}


