* {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(0deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 50%, rgba(36,36,62,1) 100%);
}

.body_whiteTheme {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-image: linear-gradient(180deg, #0093E9 0%, #014d9b 100%);
}

.container {
    margin: .8rem;
    border: 0.4rem solid white;
    border-radius: 2rem;
    background: linear-gradient(180deg, rgb(46 0 78) 0%, rgb(84 0 133) 100%);
    overflow: hidden;
}

.container_whiteTheme {
    margin: .8rem;
    border: 0.4rem solid rgb(1, 116, 184);
    border-radius: 2rem;
    background-image: linear-gradient(135deg, #1e2f61 0%, #82a3ff 50%, #88a1e5 100%);
    overflow: hidden;
}

.header {
    height: 4.5rem;   
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(70, 2, 119, 0.5);
    margin: 1rem 1rem 0rem 1rem;
}

.header_whiteTheme{
    height: 4.5rem;   
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 33, 94, 0.5);
    margin: 1rem 1rem 0rem 1rem;
}

.title { 
    font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.title a, .menu-buttons a {
    text-decoration: none;
    color: white;
}

.search {
    display: none;
}

.menu-buttons {
    display: none;
}

.toggle, .toggle_button{
    display: none;
}

.text {
    height: 100%;
    width: 100%;
    padding-left: 0.625rem;
    background-color: white;
    background-image: url(../images/search.png);
    background-size: 1.125rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.625rem) center;
    border: none;
    border-radius: 1rem;
    box-sizing: border-box;
}

.text:focus-visible {
    outline: none;
}

::-webkit-input-placeholder { 
    font-weight: bold;
}

.image {
    background-image: url(../images/Banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0rem 1rem 0rem 1rem;
    border-radius: 0rem 0rem .5rem .5rem;
    height: 18rem;
}

.content {
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    overflow: hidden;
}

footer {
    background-color: #004d8e;
}

.email-collect{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    font-size: 0;
    background-color:#003a6a;
    padding: 0.8rem;
}

.collect-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    gap: .5rem;
}

.collect-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collect-title h6 {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.collect-title h5 {
    font-size: .8rem;
    text-align: center;
    color: white;
}

.input-name, .input-email:focus-visible {
    outline: none;
}

.input-submit {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    width: 23rem;
    height: 3rem;
    color: white;
    font-size: 1rem;
    background: linear-gradient(135deg, rgba(46,0,78,0.5) 30%, rgba(125,0,180,0.5) 100%);
    font-weight: bold;
    border: none;
    border-radius: .5rem;
}

.input-submit_whiteTheme {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    width: 23rem;
    height: 3rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    background: linear-gradient(135deg, rgba(0,33,94,.5) 0%, rgba(0,40,116,.5) 30%, rgba(0,49,143,.5) 50%, rgba(0,63,180,.5) 70%, rgba(0,72,204,.5) 100%);
}

.input-submit p {
    margin: auto;
}

.send {
    width: 1.4rem;
}

.collect-answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answers-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.answers-content input {
    border-radius: .5rem;
    padding: .5rem;
    width: 22rem;
    height: 2rem;
    border: none;
}

.answers-content input:focus-visible{
    outline: none;
}

.input-submit_whiteTheme p {
    margin: auto;
    padding: 0 1rem 0 0;
}

.input-submit:hover {
    background: linear-gradient(315deg, rgba(46,0,78,0.5) 30%, rgba(125,0,180,0.5) 100%);
    cursor: pointer;
}

.input-submit_whiteTheme:hover {
    background: linear-gradient(135deg, rgba(0,72,204,.5) 0%, rgba(0,63,180,.5) 30%, rgba(0,49,143,.5) 50%, rgba(0,40,116,.5) 70%, rgba(0,33,94,.5) 100%);
    cursor: pointer;
}

#contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem .8rem 1rem .8rem;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    list-style: none;
}

.contacts-list li {
    display: flex;
    color: white;
    margin: .3rem 0 .3rem 0;
    font-weight: bold;
}

.contacts-list li span {
    display: flex;
    align-items: center;
}

.contacts-list li span p {
    margin: 0 .2rem 0 0;
}

.contacts-list li div {
    display: flex;
    justify-content: center;
    margin: .5rem;
}

.contacts-list li img {
    width: 1.4rem;
}

.contacts-list li a {
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.contacts-list h6 {
    color: white;
    font-size: 1rem;
    margin: .3rem .5rem .3rem .5rem;
}