.products {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: .5rem;
}

.products_whiteTheme {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: .5rem;
}

.products li {
    background-color: rgba(46,0,78,0.5);
    display: flex;
    flex-direction: column;
    padding: .8rem;
    margin: .5rem;
    border-radius: .5rem;
}

.products_whiteTheme li {
    background: linear-gradient(135deg, rgba(0,33,94,.5) 0%, rgba(0,40,116,.5) 30%, rgba(0,49,143,.5) 50%, rgba(0,63,180,.5) 70%, rgba(0,72,204,.5) 100%);
    display: flex;
    flex-direction: column;
    padding: .8rem;
    /* margin: .5rem; */
    border-radius: .5rem;
}

.products :hover {
    box-shadow: 10px 0px 15px 15px rgba(89, 0, 161, 0.5);
}

.products_whiteTheme :hover {
    box-shadow: 10px 0px 15px 15px rgba(0, 0, 0, 0.2);
}

.products li :hover {
    box-shadow: none;
}

.products_whiteTheme li :hover {
    box-shadow: none;
}

.description {
    line-height: 1.25rem;
    padding: .8rem;
    text-align: left;
    color: white;
}

.description h4{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .8rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.old-price {
    color: rgb(214, 214, 214);
    text-decoration: line-through;
}

.products li h3 {
    font-size: 1.3rem;
    color: rgb(0, 183, 255);
    padding: 0;
    margin: 0;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

.products_whiteTheme li h3 {
    font-size: 1.3rem;
    color: rgb(255 155 0);
    padding: 0;
    margin: 0;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

.pay {
    margin: 0;
    padding: 0;
    margin-bottom: 2.5rem;
}

.products li div {
    display: flex;
    align-items: center;
    background-color: rgba(109, 0, 156, 0.5);
    border-radius: .5rem;
    text-align: center;
}

.products_whiteTheme li div {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, rgba(0,33,94,.5) 0%, rgba(0,40,116,.5) 30%, rgba(0,49,143,.5) 50%, rgba(0,63,180,.5) 70%, rgba(0,72,204,.5) 100%);
    border-radius: .5rem;
    text-align: center;
}

.buy-button {
    padding: 0 .8rem 0 .8rem;
}

.buy {
    margin: auto;
    font-family: Poppins, sans-serif;
    font-size: .938rem;
    height: 3.125rem; 
    font-weight: bold;
    border: none;
    background-color: transparent;
}

.products li button {
    margin: auto;
    padding: 0 1rem 0 0rem;
    font-family: Poppins, sans-serif;
    font-size: .938rem;
    height: 3.125rem; 
    font-weight: bold;
    border: none;
    background-color: transparent;
}

.products_whiteTheme li button {
    margin: auto;
    padding: 0 1rem 0 0rem;
    font-family: Poppins, sans-serif;
    font-size: .938rem;
    height: 3.125rem; 
    font-weight: bold;
    border: none;
    background-color: transparent;
}

.products li button a {
    color: white;
    text-decoration: none;
}

.products_whiteTheme li button a {
    color: white;
    text-decoration: none;
}

.icon-buy:hover {
    cursor: pointer;
}

.products li div:hover {
    border-radius: .5rem;
    background: linear-gradient(315deg, rgba(46,0,78,0.5) 30%, rgba(125,0,180,0.5) 100%);
    cursor: pointer;
}

.products_whiteTheme li div:hover {
    border-radius: .5rem;
    background: linear-gradient(135deg, rgba(0,72,204,.5) 0%, rgba(0,63,180,.5) 30%, rgba(0,49,143,.5) 50%, rgba(0,40,116,.5) 70%, rgba(0,33,94,.5) 100%);
    cursor: pointer;
}

.products li div img {
    padding: 0 0 0 1rem;
    width: 1.25rem;
    background: transparent;
}

.products_whiteTheme li div img {
    padding: 0 0 0 1rem;
    width: 1.25rem;
    background: transparent;
}

.img-offer{
    margin: auto;
    max-height: 10rem;
    max-width: 10rem;
}