html{
    font-family: Arial
}

.YT{
    background-color: rgb(111, 0, 255);
    padding: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
}

.TW{
    background-color: rgb(111, 0, 255);
    padding: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
}

a:visited{
    background-color: rgb(111, 0, 255);
}

a:hover{
    padding: 20px;
    background-color: green;
}

a:active{
    background-color: rgb(255, 255, 255);
}