html, body {
    margin: 0;
    padding: 0;

}

body{
    font-family: Lato; Arial; Helvetica
    font-size: 20px;
}

.top-bar {
    background-color:#fd8a24;
    text-align: center;
    padding: 15px;
}

h1,h2,h3{
    color: #fd8a24;
}

#bolo{
    background: url(./images/hero_bolo.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 10%;
    height: 400px;
}

.content{
    max-width: 990px;
    margin: auto;
    padding: 0 40px;
    margin-top: 100px;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 28px;
    margin-bottom: 40px;
}

.card{
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 20px;
}

.list{
    cursor: url("./images/cursor_ingredientes.png"), pointer;
    margin-bottom: 50px;
    font-weight: bold;
}

.mode{
    cursor: url("./images/cursor_preparo.png"), pointer;
    font-weight: bold;
}

.instruction{
    font-weight: bold;
    cursor: url("./images/cursor_intrucoes.png"), pointer;
}

.card:hover{
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

.botton{
    background-color: #FF6B28;
    padding: 16px;
    border-radius: 20px;
    color: white;
}

a{
    text-decoration: none;
}

p{
    line-height: 28px;
}

li{
    margin-bottom: 14px;
    line-height: 28px;
}

.footer{
    background-color: #fd8a24;
    color: white;
    padding: 15px;
    text-align: center;
    height: 80px;
}

.footer-text{
    max-width: 500px;
    margin: auto;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.text-email{
    color: white;
}
