@media screen and (min-width: 380px) {

}

@media screen and (min-width: 636px) {
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }
    .products li {
        margin: 1rem;
    }
    .search {
        display: none;
    }
    .menu-buttons {
        display: none;
    }

}

@media screen and (min-width: 980px) {

    .container{
        margin: 2rem;
    }
    .page{
        margin: 1.5rem;
    }
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;
    }

    .search {
        display: grid;
        height: 2.5rem;
        width: 35rem;
    }
    .menu-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem;
        list-style: none;
        font-size: 18px;
        font-weight: bold;
    }
    .menu-buttons li {
        padding: 0.625rem;
        display: flex;
        flex-direction: column;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        float: left;
    }

    .title a{
        padding: 0.625rem;
        margin: 1rem;
    }

}

@media screen and (min-width: 1240px) {

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1rem;
    }
    .products li {
        margin: 1rem;
    }
}
