.description {
    line-height: 1.25rem;
    padding: .8rem;
    text-align: left;
    color: white;
}

.description h4{
    margin-bottom: .8rem;
}

.old-price {
    color: rgb(214, 214, 214);
    text-decoration: line-through;
}

.new-price {
    font-size: 22px;
    color: #ff6500;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

.pay {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.buy-button {
    background-color: rgba(168, 83, 248, 0.61);
    border-radius: .5rem;
    text-align: center;
}

.buy {
    font-family: Poppins, sans-serif;
    font-size: .938rem;
    height: 3.125rem; 
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: white;
}

.buy-button:hover, .buy:hover {
    border-radius: .5rem;
    background-color: #ff6500;
    cursor: pointer;
}

.icon-buy {
    background-image: url(../images/shopping-cart-1.png);
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: calc(0% + 20px) center;
}

.img-offer{
    margin: auto;
    max-height: 10rem;
    max-width: 10rem;
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    background-color: rgba(74, 51, 139, 0.2);
}

.products li {
    display: flex;
    flex-direction: column;
    padding: .8rem;
    margin: 1rem;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.products :hover {
    box-shadow: 10px 0px 15px 12px rgba(55, 43, 90, 0.2);
}

.products li :hover {
    box-shadow: none;
}