body{
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
    background: linear-gradient(0deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 50%, rgba(36,36,62,1) 100%);

}

.container{
    max-width: 90%;
    margin: auto;
    margin-top: 2%;
    border: 10px solid white;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    background: rgba(101,78,163,1);
}

#page{
    margin: auto;
    max-width: 95%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 8px 8px 15px 12px rgba(5, 5, 5, 0.205);
}

.menu{
    padding: 0;
    max-width: 100%;
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    line-height: 5px;
}

.title{ 
    font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
    font-size: 40px;
    bottom: 50%;
    font-weight: bold;
    margin-left: 5%;
    float: left;
}

.link{
    text-decoration: none;
    color: white;
}

.search{
    margin-top: 15px;
    float: left;
    height: 40px;
    width: 550px;
    position: relative;
    left: 18.5%;
}

.text{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    background-color: white;
    background-image: url(./images/search.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
}

.menu-buttons{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5%;
    height: 60px;
    text-align: right;
    line-height: 2.8em;
}

.buttons{
    padding: 10px;
    display: inline-block;
}

.text:focus-visible{
    outline: none;
}

::-webkit-input-placeholder{ 
    font-weight: bold;
}

.image{
    background-image: url(./images/dia-do-gamer.jpg);
    background-size: cover;
    background-position-x: center;
    border-top-left-radius: none;
    border-top-right-radius: none;
    max-width: 100%;
    height: 550px;
}

.content{
    width: 100%;
    margin: auto;
    background-color: rgba(101,78,163,1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.product{
    width: 290px;
    height: 440px;
    margin: 25px;
    display: inline-block;
}

.p{
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 15px;
    background-color: rgba(74, 51, 139, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.p:hover{
    box-shadow: 10px 0px 15px 12px rgba(55, 43, 90, 0.2);
}

.description{
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    color: white;
}

.old-price{
    color: rgb(214, 214, 214);
    text-decoration: line-through;
    padding: 0;
    margin: 0;
}


.new-price{
    font-size: 22px;
    color: #ff6500;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

.pay{
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.buy{
    font-family: Poppins, sans-serif;
    font-size: 15px;
    width: 100%;
    height: 50px;
    margin: auto;
    font-weight: bold;
    background-color: rgba(168, 83, 248, 0.61);
    border: none;
    border-radius: 8px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: white;
    background-image: url(./images/shopping-cart-1.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(0% + 20px) center;
}

.buy:hover{
    background-color: #ff6500;
}

.offer{
    margin: auto;
    padding-top: 10px;
    max-width: 55%;
}

footer{
    background-color: #004d8e;
}

.email-collect{
    background-color:#003a6a;
    margin: auto;
    margin-top: 35px;
    padding: 15px;
    margin-bottom: 0;
}

.content-email-collect{
    max-width: 90%;
    margin: auto;
    text-align: center;
    max-width: 100%;
    margin-left: 12.5%;
    margin-right: 8%;
}

.desc{
    max-width: 95%;
    float: left;
}

.subtitle{
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    margin-right: 140px;
    margin-bottom: 0;
    line-height: 50%;
    color: white;
    float: left;
    padding-top: 12px;
}

.offers{
    text-align: center;
    margin-top: 0px;
    font-size: 10px;
    margin-right: 70px;
    line-height: 50%;
    color: white;
    float: left;
    padding-top: 13px;
}

.name, .email, .submit{
    width: 25%;
    padding: 15px 24px;
    border: none;
    margin: 5px;
    margin-right: 30px;
    border-radius: 3px;
    box-sizing: border-box;
}

.name, .email:focus-visible{
    outline: none;
}

input[type=submit]{
    color: white;
    font-size: 14px;
    max-width: 18%;
    background-color: rgba(168, 83, 248, 0.61);
    font-weight: bold;
    margin-right: 0;
    background-image: url(./images/mail-send-envelope.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(0% + 20px) center;
}

input[type=submit]:hover{
    background-color: #e65c01;
    cursor: pointer;
}

.contacts-list{
    margin: auto;
    margin-bottom: 15px;
    max-width: 90%;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.contact-title{
    color: white;
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 7.8%;
    margin-top: 25px;
}

.contacts-list{
    list-style: none;
}

.contact{
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 7.8%;
}

.link1, .link2, .link3{
    font-weight: 400;
    /* padding-right: 50px; */
    text-decoration: none;
    color: white;
}

.icon1, .icon2, .icon3{
    margin-left: 0;
    padding-left: 28px;
}

.icon1{
    background-image: url(./images/recording-tape-2.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(0% - 0px) center;
}

.icon2{
    background-image: url(./images/whatsapp.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(0% - 0px) center;
}

.icon3{
    background-image: url(./images/mail-send-envelope.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(0% - 0px) center;
}